<div class="main-container">
    <!--<mapboxgl class="main-container">-->
    <!--<mapboxgl id="penguin"-->
    <!--class="map-container"-->
    <!--height="1500px"-->
    <!--gl-sources="$ctrl.glSources"-->
    <!--gl-layers="$ctrl.glLayers"-->
    <!--gl-controls="$ctrl.glControls"-->
    <!--gl-zoom="{ value: 1 }"-->
    <!--&gt;</mapboxgl>-->

    <mapboxgl gl-style="$ctrl[$ctrl.defaultURL]"
              gl-controls="$ctrl.glControls"
              gl-layers="$ctrl.glLayers"
              height="100vh"
    ></mapboxgl>
</div>