.main-container {
    position: absolute;
    width: 100%;
    left: 0;
}

.map-container {
    height: 1000px;
}

.navbar {
    background-color: whitesmoke;
}

.navbar {
    margin-bottom: 0px;
    z-index: 9999;
}

.navbar-collapse.collapse {
    display: block !important;
}

.navbar-nav > li, .navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right !important;
}